<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')  %>
  <body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        My name is Alademehin Samuel.
      </p>
      <p>
        I'm a recent graduate in public health with a strong foundation in epidemiology, 
        health policy, and health promotion. 
        My academic journey equipped me with the knowledge and skills to address public health issues and make a positive impact on communities. 
        I'm enthusiastic about contributing to health initiatives that improve the well being of individuals and populations."
      </p>
      <p>
        I'm a public health professional who recently made the leap into the dynamic world of web development. 
        My background in public health has equipped me with a data driven and problem solving mindset, 
        which I now apply to create innovative and user friendly web solutions. 
        With a passion for learning and a desire to bridge the gap between technology and health, 
        I'm on a mission to develop digital tools that can drive positive change in the healthcare industry.
      </p>
    </div>
    <%- include('./partials/footer.ejs')  %>
  </body>
</html>
